:root {
    --primary-color: #0e1111;
    --secondary-color: #F8EEDF;
    --accent-color: #E8C999;
    --text-color: #F8EEDF;
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--primary-color);
    color: var(--text-color);
}
body a {
    text-decoration: none;
}
body ul {
    list-style: none;
    padding: 0;
}

/* Header */
header {
    color: var(--text-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 10;
    text-align: center;
}
header nav ul {
    list-style: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
}
header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
}

/* HERO */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 100vh;
}
#hero .hero-text {
    width: 700px;
}
#hero .hero-text hr {
    width: 600px;
    border: 0;
    height: 1px;
    background-color: var(--text-color);
}
#hero .hero-text h1 {
    font-size: 4.4em;
    text-align: center;
    margin: 0;
}
#hero .hero-text p {
    font-size: 1.4em;
    text-align: center;
}
#hero .hero-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
#hero .hero-icons a {
    color: var(--text-color);
    font-size: 2.6em;
}

.scroll-down {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: var(--text-color);
}
.scroll-down a {
    color: var(--text-color);
}

/* ABOUT */
section#about {
    max-width: 1300px;
    margin: auto;
    padding-top: 40px;
}
section#about h1.hr-lines {
    position: relative;
    text-align: center;
    max-width: 400px;
    margin: auto;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
}
section#about h1.hr-lines::before {
    content:" ";
    height: 5px;
    width: 70px;
    background: var(--text-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}
section#about h1.hr-lines::after {
    content:" ";
    height: 5px;
    width: 70px;
    background: var(--text-color);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}
section#about .hr-tagline {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}
section#about .about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
section#about .about-wrapper .about-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}
section#about .about-wrapper .about-image-container .about-image {
    width: 60%;
}
section#about .about-wrapper .about-image-container .about-image img {
    width: 100%;
}
section#about .about-wrapper .about-image-container .about-image-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
section#about .about-wrapper .about-image-container .about-image-buttons a {
    color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}
section#about .about-wrapper .about-image-container .about-image-buttons a:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}
section#about .about-wrapper .about-description {
    font-size: 1.3rem;
    border-radius: 10px;
}
section#about .about-wrapper .about-description p, 
section#about .about-wrapper .about-description h2 {
    margin-top: 0;
}
section#about .about-wrapper .about-description p i {
    width: 20px;
    height: 20px;
    text-align: center;
}
section#about .about-skills-wrapper {
    margin-top: 50px;
}
section#about .about-skills-wrapper h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}
section#about .about-skills-wrapper .about-skills-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
section#about .about-skills-wrapper .about-skills-container h2 {
    margin: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
}
section#about .about-skills-wrapper .about-skills-container .about-skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
section#about .about-skills-wrapper .about-skills-container .about-skills .skill {
    background-color: var(--secondary-color);
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px 15px;
    color: var(--primary-color);
}
section#about .about-skills-wrapper .about-skills-container .about-skills .skill i {
    width: 20px;
    height: 20px;
}
section#about .about-experience-wrapper h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}
section#about .about-experience-wrapper .about-experience-container {
    width: 100%;
}
section#about .about-experience-wrapper .about-experience-container .timeline {
    margin: 0 auto;
    max-width: 34.16rem;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item {
    max-width: 34rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item .timeline-data {
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    padding: 1.5rem;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item .timeline-data h3 {
    margin: 0;
    font-size: 1.6rem;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item .timeline-data .job-location-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
    font-style: italic;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item .timeline-data ul {
    padding: 10px;
    list-style: disc;
    margin-bottom: 0;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item .timeline-data ul li {
    margin-bottom: 5px;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item .timeline-data ul li:last-child {
    margin-bottom: 0;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item:nth-child(odd) {
    border-left: 3px solid var(--secondary-color);
    padding-left: 3rem;
    transform: translateX(17rem);
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item:nth-child(even) {
    border-right: 3px solid var(--secondary-color);
    padding-right: 3rem;
    transform: translateX(-17rem);
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item:nth-child(odd)::before,
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item:nth-child(even)::before {
    content: '';
    background: var(--secondary-color);
    width: 3rem;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item:nth-child(odd)::before {
    left: 0;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item:nth-child(even)::before {
    right: 0;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item:nth-child(odd) .timeline-data::before,
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item:nth-child(even) .timeline-data::before {
    content: '';
    background: var(--secondary-color);
    box-shadow: 0 0 0.5rem var(--secondary-color);
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item:nth-child(odd) .timeline-data::before {
    left: -0.5rem;
}
section#about .about-experience-wrapper .about-experience-container .timeline .timeline-item:nth-child(even) .timeline-data::before {
    right: -0.5rem;
}

/* PROJECTS */
section#projects {
    max-width: 1300px;
    margin: auto;
    padding-top: 40px;
}
section#projects h1.hr-lines {
    position: relative;
    text-align: center;
    max-width: 400px;
    margin: auto;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
}
section#projects h1.hr-lines::before {
    content:" ";
    height: 5px;
    width: 70px;
    background: var(--secondary-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}
section#projects h1.hr-lines::after {
    content:" ";
    height: 5px;
    width: 70px;
    background: var(--secondary-color);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}
section#projects .hr-tagline {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}
section#projects .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 15px;
}
section#projects .projects-wrapper .project-card {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 16px;
    padding-bottom: 0;
    width: 330px;
}
section#projects .projects-wrapper .project-card .project-image {
    width: 330px;
    height: 200px;
}
section#projects .projects-wrapper .project-card .project-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
section#projects .projects-wrapper .project-card .project-description {
    width: 330px;
    margin-top: 10px;
    color: var(--primary-color);
}
section#projects .projects-wrapper .project-card .project-description h2 {
    margin: 0;
}
section#projects .projects-wrapper .project-card .project-description .project-link {
    display: flex;
    font-style: italic;
}
section#projects .projects-wrapper .project-card .project-description .project-link a {
    flex: 1;
}
section#projects .projects-wrapper .project-card .project-description .project-link .project-date {
    font-size: 0.9rem;
}

/* RESUME */
section#resume {
    max-width: 1300px;
    margin: auto;
    padding-top: 40px;
}
section#resume h1.hr-lines {
    position: relative;
    text-align: center;
    max-width: 400px;
    margin: auto;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
}
section#resume h1.hr-lines a {
    color: var(black);
}
section#resume h1.hr-lines a:hover {
    color: var(--secondary-color);
}
section#resume h1.hr-lines::before {
    content:" ";
    height: 5px;
    width: 70px;
    background: var(--secondary-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}
section#resume h1.hr-lines::after {
    content:" ";
    height: 5px;
    width: 70px;
    background: var(--secondary-color);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}
section#resume .hr-tagline {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}
section#resume .resume-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

/* CONTACT */
section#contact {
    max-width: 1300px;
    margin: auto;
    padding-top: 40px;
}
section#contact h1.hr-lines {
    position: relative;
    text-align: center;
    max-width: 400px;
    margin: auto;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
}
section#contact h1.hr-lines::before {
    content:" ";
    height: 5px;
    width: 40px;
    background: var(--secondary-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}
section#contact h1.hr-lines::after {
    content:" ";
    height: 5px;
    width: 40px;
    background: var(--secondary-color);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}
section#contact .hr-tagline {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}
section#contact .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
section#contact .contact-wrapper .contact-container {
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
}
section#contact .contact-wrapper .contact-container span {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
section#contact .contact-wrapper .contact-container label {
    font-size: 1.1rem;
}
section#contact .contact-wrapper .contact-container input {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}
section#contact .contact-wrapper .contact-container textarea {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px;
    margin-bottom: 10px;
}
section#contact .contact-wrapper .contact-container button {
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}
section#contact .contact-wrapper .contact-info {
    padding-left: 20px;
    font-size: 1.3rem;
}
section#contact .contact-wrapper .contact-info span {
    font-size: 2rem;
}
section#contact .contact-wrapper .contact-info a {
    font-size: 2.5rem;
    display: inline-block;
    
}

/* FOOTER */
footer {
    text-align: center;
}